.header {
    background-color: #2d333b;
}

.header__search {
    margin-left: 20px;
    width: 250px;
    background-color: #22272e;
    height: 30px;
    border-radius: 6px;
    border: 1px solid rgba(245, 245, 245, 0.295);
    outline: none;
    color: white;
    padding: 10px;
    transition: all 0.2s;
    font-size: 14px;
}

.header__search:focus {
    border-color: #539bf5;
}